/*all external CSS is stored in this file, split into 5 parts*/
/*part 1 - generic CSS for all pages*/
/*navigation styling*/
.menu{
    background-color: darkslategray;
    float: right;
    border: darkred;
    border-width: 2px;
    text-align: center;
    font-size: 14px;

}

/*part 2 - landing page only*/
.lp_structure{
    background-color: dimgray;
}

/*part 3 - about me page only*/


/*part 4 - contact page only*/

/*part 5 - qualifications page only*/