/*all external CSS is stored in this file, split into 5 parts*/
/*part 1 - generic CSS for all pages*/
/*navigation styling*/
.menu{
    position: fixed;
    border: 10px;
    border-color: darkred;
    border-radius: 10px;
    padding: 10px;
}
.menu ul {
    list-style-type: none;
    text-align: center;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}


h1,h2,h3{
    text-align: center;
}


.content_bg{
    border-radius: 10px;
    border-style: solid;
    background-color: white;
    background-position-y: inherit;
}
.content_box{
    border: 10px;
    border-radius: 10px;
    border-style: solid;
    background-color: rgb(45, 45, 49);
    background-position-y: inherit;

}


/*part 2 - landing page only*/
.lp_structure{
    background-color: dimgray;
}

/*part 3 - about me page only*/


/*part 4 - contact page only*/

/*part 5 - qualifications page only*/