/*all external CSS is stored in this file, split into 5 parts*/
/*part 1 - generic CSS for all pages*/
/*navigation styling*/
.menu{
    background-color: lightgray;
    position: relative;
    float: left;
    border-width: 10px;
    border-color:;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
}
a:link{
    color: rgb(29, 58, 221);
}
a:visited{
    color: white;
}
h1,h2,h3{
    text-align: center;
}

@media{
    border-color: white ;
}

.content_bg{

    border-radius: 10px;
    border-style: solid;
    background-color: slategrey);
}
.content_box{
    background-color: lightslategrey;
    
    
}


/*part 2 - landing page only*/
.lp_structure{
    background-color: dimgray;
}

/*part 3 - about me page only*/


/*part 4 - contact page only*/

/*part 5 - qualifications page only*/